html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #121212;
    color: white;
    transition: all 0.5s ease;
}

.body {
    background-color: #efefef;
    color: black;
}

header {
    background: url(img/portada.webp);
    color: white;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    padding: 0.02px 0 0;
}

nav {
    width: 100%;
    position: fixed;
    transition: all 0.5s ease;
}

#logo {
    height: 70px;
    float: left;
    padding: 10px 2rem;
    margin: 0 1rem;
    transition: all 0.5s ease;
}

#overtitle {
    display: block;
    font-size: 2rem;
    padding-top: 30vh; 
    margin: 1rem 3rem;
}

#title {
    display: block;
    font-size: 5rem;
    margin: 1rem 3rem;
}

#subtitle {
    display: block;
    font-size: 2rem;
    margin: 1rem 3rem;
}

#lang {
    color: white;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    width: 50px;
    line-height: 70px;
    cursor: pointer;
    transition: color 0.3s ease;
}

#sun, #moon {
    color: white;
    background: none;
    border: none;
    line-height: 70px;
    font-size: 1rem;
    padding: 0 0 0 10px;
    width: 50px;
    cursor: pointer;
    transition: color 0.3s ease;
}

#moon {
    display: none;
}

@media only screen and (max-width: 540px) {
    #logo {
        padding: 0 2rem;
    }
    #title {
        font-size: 3.5rem;
    }

    #subtitle , #overtitle{
        font-size: 1.5rem;
    }

     .toggle, .cross {
        color: white;
        background: none;
        border: none;
        font-size: 2rem;
        padding: 0 2rem;
        line-height: 70px;
        float: right;
        cursor: pointer;
        display: none;
    }

    #lang {
        line-height: 50px;
        display: block;
        margin: 0 auto;
    }

    #sun, #moon {
        line-height: 50px;
        padding: 0;
        display: block;
        margin: 0 auto;
    }

    #sun {
        display: none;
    }
    
    .menu {
        display: block;
        background-color: #364552;
        position: fixed;
        top: 70px;
        width: 100%;
        padding: 1rem 0;
        height: calc(100% - 69px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s ease;
    }
    
    .menu a {
        display: block;
        transition: color 0.3s ease;
        color: white;
        text-decoration: none;
        margin: 0 auto;
        text-align: center;
        width: 100px;
        line-height: 50px;
    }

    .menu_visible {
        left: 0;
    }

    .toggle_visible, .cross_visible {
        display: inline;
    }
}

@media only screen and (min-width: 540px) {    
    .toggle, .cross {
        display: none;
    }
    
    .menu {
        display: block;
        float: right;
        line-height: 90px;
        padding: 0rem 2rem;
        transition: all 0.5s ease;
    }
    
    .menu a {
        display: inline;
        transition: color 0.3s ease;
        color: white;
        text-decoration: none;
        margin-top: 0;
    }
}

.menu a:hover, #sun:hover, #moon:hover, #lang:hover {
    color: cornflowerblue;
}

section h2 {
    font-size: 1.5rem;
    text-align: center;
    ´/*color: #1DA1F2;*/
}

#aboutme {
    margin: 0 3rem;
}

#projects {
    max-width: 100%;
    margin: 1rem auto;
}

@media only screen and (min-width: 450px) {
    #projects {
        max-width: 400px;
        margin: 1rem auto;
    }
}

@media only screen and (min-width: 869px) {
    #projects {
        max-width: 869px;
        margin: 1rem auto;
    }
}

.targeta {
    display: block;
    width: 90%;
    height: width*3/4;
    background-color: white;
    color: black;
    margin: 1rem auto;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
}

@media only screen and (min-width: 450px) {
    .targeta {
        display: block;
        width: 400px;
        height: 300px;
        background-color: white;
        color: black;
        margin: 1rem auto;
        border-radius: 0.5rem;
        padding: 0.25rem 0;
        cursor: pointer;
        transition: all 0.5s ease;
        text-decoration: none;
    }
}

@media only screen and (min-width: 869px) {
    .targeta {
        display: inline-block;
        width: 400px;
        height: 300px;
        background-color: white;
        color: black;
        margin: 1rem 1rem;
        border-radius: 0.5rem;
        padding: 0.25rem 0;
        cursor: pointer;
        transition: all 0.5s ease;
        text-decoration: none;
    }
}

.targeta:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

.targetanight {
    background-color: #222;
    color: white;
}

.targetanight:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(255, 255, 255, 0.3);
}

.targeta img {
    height: 170px;
    display: block;
    margin: 1rem auto 0rem;
    border-radius: 0.4rem;
}

@media only screen and (min-width: 400px) {
    .targeta img {
        height: 180px;
        display: block;
        margin: 1rem auto 0rem;
        border-radius: 0.4rem;
    }
}

.targeta h3, .targeta p {
    text-align: center;
}

#aboutme p {
    text-align: justify;
}

footer {
    background-color: #222;
    padding: 2rem 3rem;
    color: white;
}

footer section {
    margin-top: 1rem;
}

footer a {
    display: block;
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
}

footer a:hover {
    color: cornflowerblue;
}

@media only screen and (min-width: 540px) {
    footer section {
        float: right;
        margin-top: 0;
    }

    footer a {
        display: inline;
        transition: color 0.3s ease;
        color: white;
        text-decoration: none;
        margin-top: 0;
    }

    footer a:hover {
        color: cornflowerblue;
    }

    .link {
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

footer p {
    display: block;
    font-size: 12px;
    margin-top: 0.5rem;
    text-align: center;
}


@media only screen and (min-width: 510px) {
    footer p {
        display: inline-block;
        font-size: 12px;
        margin-top: 1.5rem;
    }

    #love {
        float: right;
    }
}

/*Arreglo para que barra de navegacion no tape el contenido de la sección*/
#aboutme:before {
    display: block;
    content: " ";
    height: 70px;
    margin: -70px 0 0;
}

#projects:before {
    display: block;
    content: " ";
    height: 70px;
    margin: -70px 0 0;
}