html {
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #121212;
    color: white;
    transition: all 0.5s ease;
    overflow: overlay;
}

.body {
    background-color: #efefef;
    color: black;
}

header {
    background-image: url(img/portada-dark.png);
    color: white;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    height: 100vh;
    padding: 0.02px 0 0;
    transition: all 0.5s ease;
}

.h {
    background-image: url(img/portada-light.png);
    color: black;
}

nav {
    width: 100%;
    position: fixed;
    transition: all 0.5s ease;
    z-index: 100;
}

#logo {
    height: 50px;
    float: left;
    padding: 10px 2rem;
    margin: 10px 1rem;
    transition: all 0.5s ease;
}

#intro {
    display: block;
    padding-top: 15vh;
    margin: 1rem 3rem;
}

@media only screen and (min-width: 540px) {
    #intro {
        padding-top: 25vh;
    }
}

#overtitle, #subtitleEn, #subtitleEs {
    font-size: 2rem;
    margin: 1rem 0;
    transition: all 0.5 ease;
}

#subtitleEs {
    display: none;
}

#title {
    font-size: 5rem;
    margin: 1rem 0;
}

#lang {
    color: white;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    width: 50px;
    line-height: 70px;
    cursor: pointer;
    transition: color 0.3s ease;
}

#sun, #moon {
    color: white;
    background: none;
    border: none;
    line-height: 70px;
    font-size: 1rem;
    padding: 0 0 0 10px;
    width: 50px;
    cursor: pointer;
    transition: color 0.3s ease;
}

#moon {
    display: none;
    color: black;
}

@media only screen and (max-width: 540px) {
    #logo {
        padding: 0 2rem;
        margin: 10px 0;
    }

    #title {
        font-size: 3.5rem;
    }

    #subtitleEn, #subtitleEs , #overtitle{
        font-size: 1.5rem;
    }

    .toggle, .cross {
        color: white;
        background: none;
        border: none;
        font-size: 2rem;
        padding: 0 2rem;
        line-height: 70px;
        float: right;
        cursor: pointer;
        display: none;
    }

    #lang {
        line-height: 50px;
        display: block;
        margin: 0 auto;
    }

    #sun, #moon {
        line-height: 50px;
        padding: 0;
        display: block;
        margin: 0 auto;
    }

    #moon {
        display: none;
    }
    
    .menu {
        display: block;
        background-color: #222;
        position: fixed;
        top: 70px;
        width: 100%;
        padding: 1rem 0;
        height: calc(100% - 69px);
        overflow-y: auto;
        left: 100%;
        transition: all 0.5s ease;
    }
    
    .menu a {
        display: block;
        transition: color 0.3s ease;
        color: white;
        text-decoration: none;
        margin: 0 auto;
        text-align: center;
        width: 100px;
        line-height: 50px;
    }

    .toggle_visible, .cross_visible {
        display: inline;
    }
}

@media only screen and (min-width: 540px) {    
    .toggle, .cross {
        display: none;
    }
    
    .menu {
        display: block;
        float: right;
        line-height: 90px;
        padding: 0rem 2rem;
        transition: all 0.5s ease;
        background-color: transparent;
    }
    
    .menu a {
        display: inline;
        transition: color 0.3s ease;
        color: white;
        text-decoration: none;
        margin-top: 0;
    }

    .menu a:hover, #sun:hover, #moon:hover, #lang:hover {
        color: cornflowerblue !important;
    }
}

.socialicon {
    font-size: 2rem;
    color: white;
    margin-right: 1rem;
    transition: all 0.3s ease;
}

.socialicon:hover {
    color: cornflowerblue;
}

section h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0;
}

@media only screen and (min-width: 540px) {
    section h2 {
        font-size: 2.2rem;
    }
}

.section {
    padding: 5rem 1rem;
}

.txt {
    background-color: #222;
    width: min(900px, 75%);
    color: white;
    display: block;
    text-align: justify;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin: 1rem auto;
    transition: all 0.5s ease;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem 2rem;
    padding: 1rem 0;
}

#skills {
    background: url(img/skills.png);
    color: white;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#tSkills {
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
}

#skills section {
    display: inline;
    width: 100px;
    height: 100px;
}

#skills i {
    display: block;
    font-size: 70px;
    text-align: center;
    transition: all 0.3s ease;
}

#skills p {
    display: block;
    text-align: center;
}

.targeta {
    width: 350px;
    height: 300px;
    background-color: #222;
    color: white;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
}

.targeta:hover {
    transform: scale(1.05);
}

.targeta img {
    height: 180px;
    display: block;
    margin: 1rem auto 0rem;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 320px) {
    .targeta {
        height: 280px;
    }

    .targeta img {
        height: 165px;
    }
}

.targeta h3, .targeta p {
    text-align: center;
}

.light {
    background-color: white;
    color: black;
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background-color: cornflowerblue;
    color: black;
    border-radius: 100%;
    padding: 0.5rem 0.6rem;
    border: none;
    cursor: pointer;
    transform: scale(1.3);
    opacity: 100%;
    transition: all 0.5s ease;
}

.back-to-top:hover {
    transform: scale(1.5);
}

.hidden {
    opacity: 0%;
  }

footer {
    background-color: #222;
    padding: 2rem 3rem;
    color: white;
}

footer section {
    display: block;
    margin: 0 auto;
    text-align: center;
}

footer a {
    display: block;
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
}

@media only screen and (min-width: 540px) {
    footer a {
        display: inline;
        margin-top: 0;
    }

    footer a:hover {
        color: cornflowerblue;
    }

    .link {
        margin-left: 10px;
        margin-bottom: 10px;
        position: relative;
        display: inline-block;
    }

    .link::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: cornflowerblue;
        border-radius: 4px;
        scale: 0 1;
        transform-origin: left;
        transition: scale 0.3s;
    }

    .link:hover::before {
        scale: 1;
    }
}

footer p {
    display: block;
    font-size: 12px;
    margin-top: 0.5rem;
    text-align: center;
}

#slash {
    display: none;
}

@media only screen and (min-width: 540px) {
    footer p {
        display: inline;
        margin-top: 1.5rem;
    }

    #slash {
        display: inline;
    }
}

::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: cornflowerblue;
    border-radius: 10px;
}

/*.scrolldown button*/
@media only screen and (min-width: 540px) {
    #sd {
        bottom: 1rem;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 10;
        transform: scale(0.7);
    }
    
    .scrolldown {
        display: block;
        --color: white;
        --sizeX: 30px;
        --sizeY: 50px;
        position: relative;
        width: var(--sizeX);
        height: var(--sizeY);
        margin-left: var(sizeX / 2);
        border: calc(var(--sizeX) / 10) solid var(--color);
        border-radius: 50px;
        box-sizing: border-box;
        margin-bottom: 16px;
        cursor: pointer;
        margin: 0 auto;
      }
      
      .scrolldown::before {
        content: "";
        position: absolute;
        bottom: 30px;
        left: 50%;
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: var(--color);
        border-radius: 100%;
        animation: scrolldown-anim 2s infinite;
        box-sizing: border-box;
        box-shadow: 0px -5px 3px 1px #2a547066;
      }
      
      @keyframes scrolldown-anim {
        0% {
          opacity: 0;
          height: 6px;
        }
      
        40% {
          opacity: 1;
          height: 10px;
        }
      
        80% {
          transform: translate(0, 20px);
          height: 10px;
          opacity: 0;
        }
      
        100% {
          height: 3px;
          opacity: 0;
        }
      }
      
      .chevrons {
        padding: 6px 0 0 0;
        margin-left: -3px;
        margin-top: 48px;
        width: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .chevrondown {
        margin-top: -6px;
        position: relative;
        border: solid var(--color);
        border-width: 0 3px 3px 0;
        display: inline-block;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
      }
      
      .chevrondown:nth-child(odd) {
        animation: pulse54012 500ms ease infinite alternate;
      }
      
      .chevrondown:nth-child(even) {
        animation: pulse54012 500ms ease infinite alternate 250ms;
      }
      
      @keyframes pulse54012 {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 0.5;
        }
      }
}