html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #121212;
    color: white;
    transition: all 0.5s ease;
}

.body {
    background-color: #efefef;
    color: black;
}

header {
    background: url(img/portada.png);
    color: white;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    padding: 0.02px 0 0;
}

nav {
    width: 100%;
    position: fixed;
    transition: all 0.5s ease;
    z-index: 100;
}

#logo {
    height: 70px;
    float: left;
    padding: 10px 2rem;
    margin: 0 1rem;
    transition: all 0.5s ease;
}

#intro {
    display: block;
    padding-top: 25%;
    margin: 1rem 3rem;
}

@media only screen and (min-width: 540px) {
    #intro {
        display: block;
        padding-top: 30vh; 
        margin: 1rem 3rem;
    }
}

#overtitle, #subtitleEn, #subtitleEs {
    font-size: 2rem;
    margin: 1rem 0;
    transition: all 0.5 ease;
}

#subtitleEs {
    display: none;
}

#title {
    font-size: 5rem;
    margin: 1rem 0;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

#lang {
    color: white;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    width: 50px;
    line-height: 70px;
    cursor: pointer;
    transition: color 0.3s ease;
}

#sun, #moon {
    color: white;
    background: none;
    border: none;
    line-height: 70px;
    font-size: 1rem;
    padding: 0 0 0 10px;
    width: 50px;
    cursor: pointer;
    transition: color 0.3s ease;
}

#moon {
    display: none;
}

@media only screen and (max-width: 540px) {
    #logo {
        padding: 0 2rem;
        margin: 0;
    }
    #title {
        font-size: 3.5rem;
    }

    #subtitleEn, #subtitleEs , #overtitle{
        font-size: 1.5rem;
    }

    .toggle, .cross {
        color: white;
        background: none;
        border: none;
        font-size: 2rem;
        padding: 0 2rem;
        line-height: 70px;
        float: right;
        cursor: pointer;
        display: none;
    }

    #lang {
        line-height: 50px;
        display: block;
        margin: 0 auto;
    }

    #sun, #moon {
        line-height: 50px;
        padding: 0;
        display: block;
        margin: 0 auto;
    }

    #moon {
        display: none;
    }
    
    .menu {
        display: block;
        background-color: #222;
        position: fixed;
        top: 70px;
        width: 100%;
        padding: 1rem 0;
        height: calc(100% - 69px);
        overflow-y: auto;
        left: 100%;
        transition: all 0.5s ease;
    }
    
    .menu a {
        display: block;
        transition: color 0.3s ease;
        color: white;
        text-decoration: none;
        margin: 0 auto;
        text-align: center;
        width: 100px;
        line-height: 50px;
    }

    .menu_visible {
        left: 0;
    }

    .toggle_visible, .cross_visible {
        display: inline;
    }
}

@media only screen and (min-width: 540px) {    
    .toggle, .cross {
        display: none;
    }
    
    .menu {
        display: block;
        float: right;
        line-height: 90px;
        padding: 0rem 2rem;
        transition: all 0.5s ease;
    }
    
    .menu a {
        display: inline;
        transition: color 0.3s ease;
        color: white;
        text-decoration: none;
        margin-top: 0;
    }

    .menu a:hover, #sun:hover, #moon:hover, #lang:hover {
        color: cornflowerblue;
    }
}

section h2 {
    font-size: 1.5rem;
    text-align: center;
    /*color: #1DA1F2;*/
}

#aboutme {
    margin: 0 3rem;
}

#projects {
    max-width: min(400px, 100%);
    margin: 1rem auto;
}

@media only screen and (min-width: 869px) {
    #projects {
        max-width: 869px;
        margin: 1rem auto;
    }
}

.targeta {
    display: block;
    width: 90%;
    height: width*3/4;
    background-color: white;
    color: black;
    margin: 1rem auto;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
}

.targeta:hover {
    transform: scale(1.05);
}

@media only screen and (min-width: 450px) {
    .targeta {
        display: block;
        width: 400px;
        height: 300px;
        background-color: white;
        color: black;
        margin: 1rem auto;
        border-radius: 0.5rem;
        padding: 0.25rem 0;
        cursor: pointer;
        transition: all 0.5s ease;
        text-decoration: none;
    }

    .targeta:hover {
        transform: scale(1.05);
    }
}

@media only screen and (min-width: 869px) {
    .targeta {
        display: inline-block;
        width: 400px;
        height: 300px;
        background-color: white;
        color: black;
        margin: 1rem 1rem;
        border-radius: 0.5rem;
        padding: 0.25rem 0;
        cursor: pointer;
        transition: all 0.5s ease;
        text-decoration: none;
    }

    .targeta:hover {
        transform: scale(1.1);
    }
}

.darktargeta {
    background-color: #222;
    color: white;
}

.targeta img {
    height: 170px;
    display: block;
    margin: 1rem auto 0rem;
    border-radius: 0.4rem;
}

@media only screen and (min-width: 400px) {
    .targeta img {
        height: 180px;
        display: block;
        margin: 1rem auto 0rem;
        border-radius: 0.4rem;
    }
}

.targeta h3, .targeta p {
    text-align: center;
}

#aboutme p {
    display: block;
    text-align: justify;
    margin: 1rem auto 2rem;
}

@media only screen and (min-width: 540px) {
    #aboutme p {
        display: block;
        text-align: justify;
        width: min(900px, 100% - 64px);
        margin: 1rem auto 2rem;
    }
}

footer {
    background-color: #222;
    padding: 2rem 3rem;
    color: white;
}

footer section {
    margin-top: 1rem;
}

footer a {
    display: block;
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
}

@media only screen and (min-width: 540px) {
    footer section {
        float: right;
        margin-top: 0;
    }

    footer a {
        display: inline;
        transition: color 0.3s ease;
        color: white;
        text-decoration: none;
        margin-top: 0;
    }

    footer a:hover {
        color: cornflowerblue;
    }

    .link {
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

footer p {
    display: block;
    font-size: 12px;
    margin-top: 0.5rem;
    text-align: center;
}


@media only screen and (min-width: 540px) {
    footer p {
        display: inline-block;
        font-size: 12px;
        margin-top: 1.5rem;
    }

    #love {
        float: right;
    }
}

/*Arreglo para que barra de navegacion no tape el contenido de la sección*/
#aboutme:before {
    display: block;
    content: " ";
    height: 70px;
    margin: -70px 0 0;
}

#projects:before {
    display: block;
    content: " ";
    height: 70px;
    margin: -70px 0 0;
}

/*.scrolldown button*/
#sd {
    bottom: 1rem;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
    transform: scale(0.7);
}

.scrolldown {
    display: block;
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #2a547066;
  }
  
  @keyframes scrolldown-anim {
    0% {
      opacity: 0;
      height: 6px;
    }
  
    40% {
      opacity: 1;
      height: 10px;
    }
  
    80% {
      transform: translate(0, 20px);
      height: 10px;
      opacity: 0;
    }
  
    100% {
      height: 3px;
      opacity: 0;
    }
  }
  
  .chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }
  
  .chevrondown:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate;
  }
  
  .chevrondown:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms;
  }
  
  @keyframes pulse54012 {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 0.5;
    }
  }